// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.index-filter__header {
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border-style: solid;
  border-width: $input-focus-border-width;

  &:focus {
    border-color: $focus-border-color;
  }
}

.index-filter__body {
  max-height: $size-medium;
  overflow-y: auto;
}
