// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.index-header {
  position: relative;

  &__title,
  .title,
  &__controls {
    flex-shrink: 0;
  }

  @include media-query(palm) {
    &__title {
      flex-shrink: 1;
    }
  }

  &__controls {
    position: relative;
  }

  &__total,
  &__count {
    color: $secondary-text-color;
    text-align: center;
    @include inuit-font-size($label-font-size);

    @include media-query(palm) {
      display: none;
      //margin-left: halve($inuit-base-spacing-unit);
    }

    @include media-query(lap-and-up) {
      position: absolute;
      left: $inuit-base-spacing-unit;
      transform: translateX(-50%);
      background-color: $background-color;
    }
  }

  &__total {
    @include media-query(lap-and-up) {
      top: - halve($inuit-base-spacing-unit);
    }
  }

  &__count {
    display: none;

    @include media-query(lap-and-up) {
      &--active {
        display: block;
        position: absolute;
        bottom: - halve($inuit-base-spacing-unit);
      }
    }
  }
}
