// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.index-header {
  &__controls {
    // This is for IE11.
    // https://connect.microsoft.com/IE/feedback/details/816293/ie11-flexbox-with-min-height-not-vertically-aligning-with-align-items-center
    height: $large-header-height;
  }

  @include filter-counts();
}
