// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-filters {
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;
  border: 0px;

  &__menu {
    margin-left: $inuit-base-spacing-unit;
  }

  &__filter {
    margin-bottom: $inuit-base-spacing-unit;

    &-value {
      display: block;
      margin-bottom: quarter($inuit-base-spacing-unit);
    }

    &-legend {
      @include inuit-font-size(18px);
      font-weight: 100;
    }
  }
}
