// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.index-tiles {

  &__section label {
    display: block;
    color: $secondary-text-color;
    font-size: $inuit-base-font-size;
  }

  &.tiles--flush {
    margin-top: 0px;

    .tile {
      > svg {
        margin-right: $inuit-base-spacing-unit;
        flex: 0 0 auto;
      }

      @include media-query(palm) {
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
    }
  }

}
